<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th>Date</th>
      <th>Quantité</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @intemperies.each do |intempery| %>
      <tr>
        <td><%= l(intempery.date, format: '%A %d %B %Y') %></td>
        <td><%= intempery.qte %></td>
        <td><%= link_to 'Modifier', edit_intempery_path(intempery) %></td>
        <td><%= link_to 'Détruire', intempery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
