<div class="container">

<%= simple_form_for(@prestation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= f.association :employeur, label_method: :nom, label: fa_icon('user')+' Employeur'  %>
      </div>
      <div class="col">
      <%= f.association :client, label_method: :nom, label: fa_icon('user-o')+' Client'  %>
      </div>
      <div class="col">
        <%= f.association :machine, label_method: lambda {|e| "#{e.marque} #{e.modele} - #{e.poids}"}, label: fa_icon('truck')+' Machine'  %>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= f.input :nbjour, label: fa_icon('address-book')+' Nombre de jour travaillé'  %>
      </div>
      <div class="col">
        <%= f.input :hsup, label: fa_icon('clock-o')+' heures sup\''  %>
      </div>
      <div class="col">
        <% @prestation.tarif ? value = '200' : value = @prestation.tarif %>
        <%= f.input :tarif, label: fa_icon('money')+' Tarif journalier', input_html: { value: value }  %>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= f.input :debut, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Début'  %>
      </div>
      <div class="col">
        <%= f.input :fin, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Fin'  %>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= f.input :adresse, label: fa_icon('map-marker')+' Adresse'  %>
      </div>
      <div class="col">
        <%= f.input :ville, label: fa_icon('institution')+' Ville'  %>
      </div>
      <div class="col">
        <%= f.input :km, label: fa_icon('road')+' Éloignement'  %>
      </div>
    </div>
    <div class="row mt-3 mb-3">
      <div class="col">
        <%= f.input :nomchef, label: fa_icon('address-book')+' Nom du chef' %>
      </div>
      <div class="col">
        <%= f.input :tel, label: fa_icon('mobile')+' Portable'  %>
      </div>
      <div class="col">
        <%= f.input :mail, label: fa_icon('envelope')+' mail'  %>
      </div>
      <div class="col">
        <%= f.input :bondecommande, label: fa_icon('barcode')+' Bon de commande'  %>
      </div>
    </div>

  <div class="form-actions">
    <div class="row">
      <div class="col">
        <%= f.button :submit, class: 'btn btn-warning' %>
      </div>
      <div class="col">
        <%= link_to 'Supprimer la prestation', prestation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
      </div>
    </div>
  </div>
<% end %>
</div>
