<%= month_calendar events: @prestations  do |date, prestations| %>
  <span class="badge badge-light"><%= date.day %></span>

  <% prestations.each do |p| %>

    <div class="row">
      <div class="col">
        <div class="card text-white bg-<%= p.employeur.color %>">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center">
              <a class="text-white" href="<%= edit_prestation_path(p) %>"><%= fa_icon('user') %> <%= p.employeur.nom %></a>
              <% if Jourferie.where(date: date).present? %>
              <span class="badge badge-pill badge-danger"><%= fa_icon('hotel') %> Férié</span>
              <% end %>
              <% if Intemperie.where(date: date).present? %>
              <span class="badge badge-pill badge-primary"><%= fa_icon('shower') %> Intempérie</span>
              <% end %>
            </h5>
            <p class="card-text">
              <span class="badge badge-secondary"><%= fa_icon('map-marker') %> <%= p.adresse %> <%= p.ville %>
                <% if p.km %>
                  <span class="badge gadge_pill badge-dark"><%= fa_icon('road') %> <%= p.km %> Km</span>
                <% end %>
              </span><br>
              <% if p.nomchef.present? %>
                <span class="badge badge-light"><%= fa_icon('address-book') %> <%= p.nomchef %></span>
              <% end %>
              <% if p.tel.present? %>
                <span class="badge badge-light"><%= fa_icon('mobile') %> <%= p.tel %></span><br/>
              <% end %>
            <% if p.bondecommande.present? %>
              <span class="badge badge-light"><%= fa_icon('barcode') %> <%= p.bondecommande %></span>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>

  <% end %>
<% end %>
