<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th><%= fa_icon('user-o') %> Nom</th>
      <th><%= fa_icon('barcode') %> SIRET</th>
      <th><%= fa_icon('map-marker') %> Adresse</th>
      <th><%= fa_icon('barcode') %> Code postal</th>
      <th><%= fa_icon('institution') %> Ville</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nom %></td>
        <td><%= client.siret %></td>
        <td><%= client.adresse %></td>
        <td><%= client.cp %></td>
        <td><%= client.ville %></td>
        <td><%= link_to 'Modifier', edit_client_path(client) %></td>
        <td><%= link_to 'Détruire', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
