<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th>Nom</th>
      <th>SIRET</th>
      <th>Adresse</th>
      <th>Code postal</th>
      <th>Ville</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nom %></td>
        <td><%= client.siret %></td>
        <td><%= client.adresse %></td>
        <td><%= client.cp %></td>
        <td><%= client.ville %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
