<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @client.nom %>
</p>

<p>
  <strong>Siret:</strong>
  <%= @client.siret %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @client.adresse %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @client.cp %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @client.ville %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
