<%= simple_form_for(@facture) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.association :employeur, label_method: :nom, label: fa_icon('user')+' Employeur'  %>
      </div>
      <div class="col">
        <%= f.input :numero, label: fa_icon('barcode')+' Numéro de facture'  %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :debut, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Début'  %>
      </div>
      <div class="col">
        <%= f.input :fin, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Fin'  %>
      </div>
    </div>

    <%= render 'prestations_modal' %>

    <% if @facture.prestations.count > 0 %>

      <div class="row">
        <div class="col">
          <h5>Prestations sélectionnées : </h5>
          <div class='d-none'>
            <%= f.collection_check_boxes :prestation_ids, @facture.prestations, :id, :nomchef do |input| %>
              <%= input.check_box as: :hidden%>
            <% end %>
          </div>

          <table class="table table-stripped">
            <thead>
              <tr>
                <th><%= fa_icon('user')%> Employeur</th>
                <th><%= fa_icon('user-o')%> Client</th>
                <th><%= fa_icon('calendar')%> Début</th>
                <th><%= fa_icon('calendar')%> Fin</th>
                <th><%= fa_icon('shower')%></th>
                <th><%= fa_icon('hotel')%></th>
                <th>Qte</th>
                <th>Tarif</th>
                <th><%= fa_icon('map-marker')%> Localisation</th>
                <th>Contact</th>
                <th>Déplacement</th>
                <th><%= fa_icon('road')%></th>
                <th>hsup'</th>
                <th><%= fa_icon('clock-o')%></th>
                <th>Montant</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>

            <tbody>

              <% total = 0 %>
              <%= f.simple_fields_for :facture_lignes do |ffl| %>
                  <tr>
                    <td><%= ffl.object.prestation.employeur.nom %></td>
                    <td><%= ffl.object.prestation.client.nom %></td>

                    <% p = @facture.prestations.find(ffl.object.prestation_id) %>

                    <% debut = p.debut %>
                    <% if debut < @facture.debut %>
                      <% debut = @facture.debut %>
                    <% end %>
                    <% until debut.workday? %>
                      <% debut = debut + 1 %>
                    <% end %>

                    <td><%= ffl.input :debut, as: :string, input_html: {type: :date, value: debut}, label: false %></td>

                    <% fin = p.fin %>
                    <% if fin > @facture.fin %>
                      <% fin = @facture.fin %>
                    <% end %>
                    <% until fin.workday? %>
                      <% fin = fin - 1 %>
                    <% end %>
                    <td><%= ffl.input :fin, as: :string, input_html: {type: :date, value: fin}, label: false %></td>

                    <td>
                      <% qte_intemperie = 0.0 %>
                      <% if Intemperie.where(date: p.debut..p.fin) %>
                        <% if Intemperie.where(date: p.debut..p.fin).count > 0 %>
                          <% Intemperie.where(date: p.debut..p.fin).each do |i| %>
                            <% qte_intemperie = qte_intemperie + i.qte.to_f %>
                          <% end %>
                          <span class="badge badge-pill badge-info"><%= qte_intemperie %>j</span>
                        <% end %>
                      <% end %>
                    </td>

                    <td>
                      <% if Jourferie.where(date: debut..fin) %>
                        <% if Jourferie.where(date: debut..fin).count > 0 %>
                          <% j = Jourferie.where(date: debut..fin).count %>
                          <span class="badge badge-pill badge-danger"><%= j %>j</span>
                        <% end %>
                      <% end %>
                    </td>
                    <% if fin > debut.end_of_month %>
                      <% qte = debut.business_dates_until(fin).count %>
                    <% else %>
                      <% qte = debut.business_dates_until(fin).count + 1 %>
                    <% end %>
                    <% j = Jourferie.where(date: debut..fin).count %>
                    <% qte = qte - qte_intemperie - j %>
                    <td><%= ffl.input :qte, label: false, input_html: { value: qte }  %></td>

                    <td><span class="badge badge-pill badge-light-blue"><%= p.tarif %> €/j</span></td>
                    <td><%= p.adresse %>, <strong><%= p.ville %></strong></td>
                    <td><%= p.nomchef %></td>

                    <% if p.km %>
                      <% km = p.km * 0.8 * qte %>
                    <% else %>
                      <% km = 0.0 %>
                    <% end %>
                    <td><small><%= p.km.to_i  %>Km x 0.8€ x <%= qte %>j</small></td>
                    <td><%= ffl.input :km, input_html: { value: km.round(2) }, label: false %></td>

                    <% if p.hsup %>
                      <% hsup = p.hsup * 35 %>
                    <% else %>
                      <% hsup = 0 %>
                    <% end %>
                    <td><small><%= p.hsup.to_i  %>h x 35€</small></td>
                    <td><%= ffl.input :hsup, input_html: { value: hsup.round(2) }, label: false %></td>

                    <% stotal = p.tarif * qte + km + hsup %>
                    <td><%= ffl.input :montant, input_html: { value: stotal }, label: false %></td>

                    <td>
                      <!-- <%= link_to 'Voir la prestation', edit_prestation_path(p), class: 'text-primary' %> -->
                      <%= ffl.button :submit, 'Modifier', class: 'btn btn-info' %>
                      <%= link_to fa_icon('close'), p.facture_lignes.first, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-danger' %>
                    </td>
                  </tr>

                    <% total = total + stotal %>
              <% end %>

              <tr class="table-secondary">
                <th>Total TTC</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th><%= (total).round(2) %> €</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
</div>
<% end %>

<%= link_to fa_icon('eye')+' Visualiser la facture', facture_path(@facture), class: 'mt-3 btn btn-success', :target => "_blank" %>
