<%= simple_form_for(@facture) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.association :employeur, label_method: :nom, label: fa_icon('user')+' Employeur'  %>
      </div>
      <div class="col">
        <%= f.input :numero, label: fa_icon('barcode')+' Numéro de facture', value: (Facture.last.numero + 1)  %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :debut, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Début'  %>
      </div>
      <div class="col">
        <%= f.input :fin, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Fin'  %>
      </div>
    </div>

    <% if params[:action] == "edit"%>

      <div class="row">
        <div class="col">
          <h5>Prestations sélectionnées</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= fa_icon('user')%> Employeur</th>
                <th><%= fa_icon('user-o')%> Client</th>
                <th><%= fa_icon('calendar')%> Début</th>
                <th><%= fa_icon('calendar')%> Fin</th>
                <th><%= fa_icon('shower')%></th>
                <th><%= fa_icon('hotel')%></th>
                <th>Qte</th>
                <th><%= fa_icon('map-marker')%> Localisation</th>
                <th>Contact</th>
                <th><%= fa_icon('road')%> Déplacement</th>
                <th><%= fa_icon('clock-o')%> hsup'</th>
                <th>Montant</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <% total = 0 %>
              <% @facture.prestations.each do |p| %>
                <tr>
                  <td><%= p.employeur.nom %></td>
                  <td><%= p.client.nom %></td>
                  <% p.debut = @facture.debut if p.debut < @facture.debut %>
                  <td><%= l(p.debut, format: '%d/%m/%y') %></td>
                  <% p.fin = @facture.fin if p.fin > @facture.fin %>
                  <td><%= l(p.fin, format: '%d/%m/%y') %></td>
                  <% i = 0 %>
                  <% j = 0 %>
                  <% km = 0 %>
                  <% hsup = 0 %>
                  <% tarif = 200 %>
                  <td>
                    <% if Intemperie.where(date: p.debut..p.fin) %>
                      <% if Intemperie.where(date: p.debut..p.fin).count > 0 %>
                        <% i = Intemperie.where(date: p.debut..p.fin).count %>
                        <span class="badge badge-pill badge-info"><%= i %></span>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <% if Jourferie.where(date: p.debut..p.fin) %>
                      <% if Jourferie.where(date: p.debut..p.fin).count > 0 %>
                        <% j = Jourferie.where(date: p.debut..p.fin).count %>
                        <span class="badge badge-pill badge-danger"><%= j %></span>
                      <% end %>
                    <% end %>
                  </td>
                  <% if p.fin > p.debut.end_of_month %>
                    <% p.nbjour = p.debut.business_dates_until(p.debut.end_of_month).count %>
                  <% else %>
                    <% p.nbjour = p.debut.business_dates_until(p.fin).count + 1 %>
                  <% end %>
                  <td><span class="badge badge-pill badge-warning"><%= p.nbjour - i - j %>j</span></td>
                  <td><%= p.adresse %>, <%= p.ville %></td>
                  <td><%= p.nomchef %></td>
                  <td>
                    <% if p.km %>
                    <% km = p.km * 0.8 * (p.nbjour - i - j) %>
                    <small><%= p.km  %> Km x 0.8 € x <%= p.nbjour - i - j %>j   = </small><span class="badge badge-pill badge-secondary"><%= km.round(2) %> €</span>
                    <% end %>
                  </td>
                  <td>
                    <% if p.hsup %>
                    <% hsup = p.hsup * 35 %>
                    <small><%= p.hsup  %> h x 35 € =</small> <span class="badge badge-pill badge-dark"><%= hsup.round(2) %> €</span>
                    <% end %>
                  </td>
                  <td><span class="badge badge-info badge-pill"><% stotal = tarif * (p.nbjour - j - i ) + km %><%= stotal %> €</span></td>


                  <td>
                    <%= link_to fa_icon('pencil 2x'), edit_prestation_path(p), class: 'text-primary' %>
                    <%= link_to fa_icon('close 2x'), p.facture_lignes.first, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-danger' %>
                  </td>
                </tr>
                <% total = total + stotal %>
              <% end %>
              <tr class="table-secondary">
                <th>Total TTC</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th><%= (total).round(2) %> €</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <% end %>

    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th></th>
          <th>Employeur</th>
          <th>Client</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Machine</th>
          <th>Localisation</th>
        </tr>
      </thead>

      <tbody>
        <%= f.collection_check_boxes :prestation_ids, @prestations_nonfacture, :id, :nomchef do |input| %>
          <tr>
            <td>
              <label>
                <%= input.check_box %>
              </label>
            </td>
            <td><%= input.object.employeur.nom %></td>
            <td><%= input.object.client.nom %></td>
            <td><%= l(input.object.debut, format: '%d/%m/%y') %></td>
            <td><%= l(input.object.fin, format: '%d/%m/%y') %></td>
            <td><%= input.object.machine.marque %> <%= input.object.machine.modele %></td>
            <td><%= input.object.adresse %> <%= input.object.ville %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
<% end %>
