<%= simple_form_for(@facture) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.association :employeur, label_method: :nom, label: fa_icon('user')+' Employeur'  %>
      </div>
      <div class="col">
        <%= f.input :numero, label: fa_icon('barcode')+' Numéro de facture'  %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :debut, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Début'  %>
      </div>
      <div class="col">
        <%= f.input :fin, as: :string, input_html: {type: :date}, label: fa_icon('calendar')+' Fin'  %>
      </div>
    </div>

    <%= render 'prestations_modal' %>

    <% if @facture.prestations.count > 0 %>

      <div class="row">
        <div class="col">
          <h5>Prestations sélectionnées : </h5>
          <div class='d-none'>
            <%= f.collection_check_boxes :prestation_ids, @facture.prestations, :id, :nomchef do |input| %>
              <%= input.check_box as: :hidden%>
            <% end %>
          </div>

          <table class="table table-stripped">
            <thead class="thead-dark">
              <tr>
                <th>Nature</th>
                <th>Employeur</th>
                <th>Client</th>
                <th><%= fa_icon('calendar')%> Début</th>
                <th><%= fa_icon('calendar')%> Fin</th>
                <th><%= fa_icon('shower')%></th>
                <th><%= fa_icon('hotel')%></th>
                <th>Qte</th>
                <th>Tarif</th>
                <th><%= fa_icon('map-marker')%> Localisation</th>
                <th><%= fa_icon('road')%> Déplacement</th>
                <th>Montant</th>
                <th colspan="2">Action</th>
              </tr>
            </thead>

            <tbody>

              <% total = 0 %>
              <%= f.simple_fields_for :facture_lignes do |ffl| %>
                  <tr>
                    <td><span class="badge badge-pill badge-warning">Prestation</span></td>
                    <td><%= ffl.object.prestation.employeur.nom %></td>
                    <td><%= ffl.object.prestation.client.nom %></td>

                    <% p = @facture.prestations.find(ffl.object.prestation_id) %>

                    <% debut = p.debut %>
                    <% if debut < @facture.debut %>
                      <% debut = @facture.debut %>
                    <% end %>
                    <% until debut.workday? %>
                      <% debut = debut + 1 %>
                    <% end %>

                    <td>
                      <small>Prestation : <%= l(p.debut, format: '%d/%m/%y') %></small><br/>
                      <%= ffl.input :debut, as: :string, input_html: {type: :date}, label: false %>
                    </td>

                    <% fin = p.fin %>
                    <% if fin > @facture.fin %>
                      <% fin = @facture.fin %>
                    <% end %>
                    <% until fin.workday? %>
                      <% fin = fin - 1 %>
                    <% end %>
                    <td>
                      <small>Prestation : <%= l(p.fin, format: '%d/%m/%y') %></small><br/>
                      <%= ffl.input :fin, as: :string, input_html: {type: :date}, label: false %>
                    </td>

                    <td>
                      <% qte_intemperie = 0.0 %>
                      <% if Intemperie.where(date: p.debut..p.fin) %>
                        <% if Intemperie.where(date: p.debut..p.fin).count > 0 %>
                          <% Intemperie.where(date: p.debut..p.fin).each do |i| %>
                            <% qte_intemperie = qte_intemperie + i.qte.to_f %>
                          <% end %>
                          <span class="badge badge-pill badge-info"><%= qte_intemperie %>j</span>
                        <% end %>
                      <% end %>
                    </td>

                    <td>
                      <% if Jourferie.where(date: debut..fin) %>
                        <% if Jourferie.where(date: debut..fin).count > 0 %>
                          <% j = Jourferie.where(date: debut..fin).count %>
                          <span class="badge badge-pill badge-danger"><%= j %>j</span>
                        <% end %>
                      <% end %>
                    </td>
                    <% if fin > debut.end_of_month %>
                      <% qte = debut.business_dates_until(fin).count %>
                    <% else %>
                      <% qte = debut.business_dates_until(fin).count + 1 %>
                    <% end %>
                    <% j = Jourferie.where(date: debut..fin).count %>
                    <% qte = qte - qte_intemperie - j %>
                    <td><%= ffl.input :qte, label: false, input_html: { value: qte }  %></td>

                    <td><span class="badge badge-pill badge-light-blue"><%= p.tarif %> €/j</span></td>
                    <td><%= p.adresse %>, <strong><%= p.ville %></strong></td>

                    <% if p.km %>
                      <% km = p.km * 0.8 * qte %>
                    <% else %>
                      <% km = 0.0 %>
                    <% end %>

                    <td><small><%= p.km.to_i  %>Km x 0.8€ x <%= qte %>j</small>
                    <%= ffl.input :km, input_html: { value: km.round(2) }, label: false %></td>

                    <% stotal = p.tarif * qte + km %>
                    <td><%= ffl.input :montant, input_html: { value: stotal }, label: false %></td>

                    <td>
                      <!-- <%= link_to 'Voir la prestation', edit_prestation_path(p), class: 'text-primary' %> -->
                      <%= ffl.button :submit, 'Modifier', class: 'btn btn-info' %>
                      <%= link_to fa_icon('close'), p.facture_lignes.first, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-danger' %>
                    </td>
                  </tr>

                  <% p.hsups.each do |hs| %>
                    <tr class="table-sm">
                      <td><span class="badge badge-pill badge-orange">H sup'</span></td>
                      <td></td>
                      <td></td>
                      <td><%= l(hs.date, format: '%d/%m/%y') %></td>
                      <td><%= l(hs.date, format: '%d/%m/%y') %></td>
                      <td></td>
                      <td></td>
                      <td><%= hs.qte %>h</td>
                      <td><span class="badge badge-pill badge-pink">35€/h</span></td>
                      <td></td>
                      <td></td>
                      <td><%= hs.qte * 35 %> €</td>
                      <% total = total + hs.qte * 35 %>
                      <td></td>
                      <td></td>
                    </tr>
                  <% end %>

                    <% if @facture.remise %>
                      <% remise = @facture.remise %>
                    <% else %>
                      <% remise = 0.0 %>
                    <% end %>
                    <% total = total + stotal - remise %>
              <% end %>

              <tr class="bg-info text-light">
                <td><strong>Remise</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= f.input :remise, label: false %></td>
                <td></td>
              </tr>

              <tr class="table-secondary">
                <th>Total TTC</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th><%= (total).round(2) %> €</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
</div>
<% end %>
