<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th><%= fa_icon('barcode') %> Identifiant</th>
      <th><%= fa_icon('user') %> Employeur</th>
      <th><%= fa_icon('hourglass-start') %> Début</th>
      <th><%= fa_icon('hourglass-end') %> Fin</th>
      <th><%= fa_icon('wrench') %> NB prestations</th>
      <th><%= fa_icon('money') %> Total</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |f| %>
      <tr>
        <td><%= f.numero %></td>
        <td><%= f.employeur.nom %></td>
        <td><%=  l(f.debut, format: '%d/%m/%y') %></td>
        <td><%=  l(f.fin, format: '%d/%m/%y') %></td>
        <td><span class="badge badge-pill badge-warning"><%=  f.prestations.count %></span></td>
        <td><%= f.total.round(2) %> €</td>

        <td><%= link_to 'Modifier', edit_facture_path(f) %></td>
        <td><%= link_to 'Détruire', f, method: :delete, data: { confirm: 'Are you sure?' }, class:'text-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
