<div class="container">

  <div class="mt-3">
    <div class="float-left">
      <%= wicked_pdf_image_tag 'mrlogo300.png', width: '200px' %>
    </div>
    <div class="float-right">
      <h6>Identifiant facture : <%= @facture.numero %></h6>
      <p>Le <%=l(@facture.updated_at, format: '%d/%m/%Y')%></p>
    </div>
  </div>

  <div style="clear:both"></div>

  <div class="mt-3">
    <div class="float-left card border-amber">
      <div class="card-body">
        <strong>Rasic Mattew</strong><br/>
        55 route de Madirac<br/>
        33880, Saint-Caprais-de-Bordeaux<br/>
        06 60 90 20 28<br/>
        SIRET : 80184268300022<br/>
      </div>
    </div>
    <div class="float-right card border-amber">
      <div class="card-body">
        <strong><%= @facture.employeur.nom %></strong><br/>
        <%= @facture.employeur.adresse %><br/>
        <%= @facture.employeur.cp %>, <%= @facture.employeur.ville %><br/>
        <%= @facture.employeur.tel %><br/>
        SIRET : <%= @facture.employeur.siret %>
      </div>
    </div>
  </div>

  <div style="clear:both"></div>

  <br/>
  <h4 class="bg-light-blue text-white p-2 mt-3 mb-3">Objet : Facture des prestations du mois de <%= l(@facture.debut, format: '%B %Y') %></h4>
  <br/>
  <div class="row mt-3 mb-3">
    <div class="col">
      <table class="table table-sm table-striped" style="font-size:0.8em;">
        <thead>
          <tr>
            <th>Nature</th>
            <th>Client</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Localisation</th>
            <th>Chef</th>
            <th>Pelle</th>
            <th>Tarif</th>
            <th>Déplace.</th>
            <th>Qte</th>
            <th>Montant</th>
          </tr>
        </thead>
        <tbody>
          <% @facture.facture_lignes.each do |fl| %>
            <tr>
              <td><span class="badge badge-light-blue">Prestation</span></td>
              <td><%= fl.prestation.client.nom %></td>
              <td><%= l(fl.debut, format: '%d/%m/%y') %></td>
              <td><%= l(fl.fin, format: '%d/%m/%y') %></td>
              <td><%= fl.prestation.adresse %>, <strong><%= fl.prestation.ville %></strong></td>
              <td><%= fl.prestation.nomchef %></td>
              <td><%= fl.prestation.machine.marque %> <%= fl.prestation.machine.modele %>, <%= fl.prestation.machine.poids %>t</td>
              <td><span class="badge badge-pill badge-light-blue"><%= fl.prestation.tarif %>€/j</span></td>
              <td><span class="badge badge-pill badge-vlight-blue">+<%= fl.km/fl.qte  %>€/j</span></td>
              <td><span class="badge badge-pill badge-amber"><%= fl.qte %>j</span></td>
              <td><strong><%= fl.montant %>€</strong></td>
            </tr>
            <% fl.prestation.hsups.each do |hs| %>
              <tr>
                <td><span class="badge badge-vlight-blue">H supp.</span></td>
                <td><%= fl.prestation.client.nom %></td>
                <td><%= l(hs.date, format: "%d/%m/%y") %></td>
                <td><%= l(hs.date, format: "%d/%m/%y") %></td>
                <td><%= fl.prestation.adresse %>, <strong><%= fl.prestation.ville %></strong></td>
                <td><%= fl.prestation.nomchef %></td>
                <td><%= fl.prestation.machine.marque %> <%= fl.prestation.machine.modele %>, <%= fl.prestation.machine.poids %>t</td>
                <td><span class="badge badge-pill badge-light-blue">35 €/h</span></td>
                <td><%= %></td>
                <td><span class="badge badge-pill badge-amber"><%= hs.qte %>h</span></td>
                <td><strong><%= 35 * hs.qte %> €</strong></td>
              </tr>
            <% end %>
          <% end %>
            <tr class="table-light">
              <th>Remise</th>
              <td colspan="9"></td>
              <th><strong><%= @facture.remise %>€</strong></th>
            </tr>
            <tr class="table-light">
              <th>Total HT</th>
              <td colspan="9"></td>
              <th><strong><%= @facture.total %>€</strong></th>
            </tr>
            <tr class="table-secondary">
              <th>Total TTC</th>
              <td colspan="9"></td>
              <th><strong><%= @facture.total %>€</strong></th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
<br/>
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-light-blue text-center">
        Merci pour votre confiance.
      </div>
    </div>
  </div>

</div>
