<div class="container">

  <div class="mt-3">
    <div class="float-left">
      <img src="<%= image_url('mrlogo300.png')%>" width="200" />
    </div>
    <div class="float-right">
      <h5>Facture N°<%= @facture.numero %></h5>
      <p><small>Le <%=l(Date.today, format: '%d/%m/%y')%></small></p>
    </div>
  </div>

  <div style="clear:both"></div>

  <div class="mt-3">
    <div class="float-left">
      <strong>Rasic Mattew</strong><br/>
      55 route de Madirac<br/>
      33880, Saint-Caprais-de-Bordeaux<br/>
      06 60 90 20 28<br/>
      SIRET : 80184268300022<br/>
    </div>
    <div class="float-right">
      <strong><%= @facture.employeur.nom %></strong><br/>
      <%= @facture.employeur.adresse %><br/>
      <%= @facture.employeur.cp %>, <%= @facture.employeur.ville %><br/>
      <%= @facture.employeur.tel %><br/>
      SIRET : <%= @facture.employeur.siret %>
    </div>
  </div>

  <div style="clear:both"></div>

  <h4 class="bg-indigo text-white p-2 mt-3 mb-3">Objet : Facture des prestations de <%= l(@facture.debut, format: '%B %Y') %></h4>

  <div class="row mt-3 mb-3">
    <div class="col">
      <table class="table table-striped table-borderless" style="font-size:0.8em;">
        <thead>
          <tr>
            <th>Client</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Localisation</th>
            <th>Pelle</th>
            <th>Tarif</th>
            <th>Déplace.</th>
            <th>H sup'</th>
            <th>Qte</th>
            <th>Montant</th>
          </tr>
        </thead>
        <tbody>
          <% @facture.facture_lignes.each do |fl| %>
            <tr>
              <td><%= fl.prestation.client.nom %></td>
              <td><%= l(fl.debut, format: '%d/%m/%y') %></td>
              <td><%= l(fl.fin, format: '%d/%m/%y') %></td>
              <td><%= fl.prestation.adresse %>, <strong><%= fl.prestation.ville %></strong></td>
              <td><%= fl.prestation.machine.marque %> <%= fl.prestation.machine.modele %>, <%= fl.prestation.machine.poids %>t</td>
              <td><span class="badge badge-pill badge-secondary"><%= fl.prestation.tarif %>€/j</span></td>
              <td><%= fl.km/fl.qte  %>€/j</td>
              <td><%= fl.hsup %>€</td>
              <td><%= fl.qte %>j</td>
              <td><strong><%= fl.montant %>€</strong></td>
            </tr>
          <% end %>
            <tr class="table-secondary">
              <th>Total TTC</th>
              <td colspan="8"></td>
              <th><strong><%= @facture.total %>€</strong></th>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-secondary text-center">
        Merci pour votre confiance.
      </div>
    </div>
  </div>

</div>
