<div class="container mt-3">
  <div class="row">
    <div class="col">

      <%= simple_form_for(@machine) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <div class="row">
            <div class="col">
              <%= f.input :marque %>
            </div>
            <div class="col">
              <%= f.input :modele, label:'Modèle' %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.input :poids %>
            </div>
            <div class="col">
              <%= f.input :idlocatier, label:'ID Locatier' %>
            </div>
          </div>

        <div class="form-actions">
          <%= f.button :submit, class:"btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
