<% if notice  %>
  <div class="alert alert-success animated slideInDown" role="alert">
    <%= notice %>
  </div>
<% end %>
<table class="table table-hover table-borderless">
  <thead>
    <tr>
      <th>Marque</th>
      <th>Modele</th>
      <th>Poids</th>
      <th>Idlocatier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.marque %></td>
        <td><%= machine.modele %></td>
        <td><%= machine.poids %></td>
        <td><%= machine.idlocatier %></td>
        <td><%= link_to 'Show', machine %></td>
        <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
        <td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
