<div class="container">
  <div class="row">
    <div class="col">


      <% if notice  %>
        <div class="alert alert-success animated slideInDown" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <div class="card mt-3">
        <table class="table">
          <thead>
            <tr class="card-header">
              <th>Marque</th>
              <th>Modèle</th>
              <th>Poids</th>
              <th>ID locatier</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @machines.each do |machine| %>
              <tr>
                <td><%= machine.marque %></td>
                <td><%= machine.modele %></td>
                <td><%= machine.poids %>t</td>
                <td><%= machine.idlocatier %></td>
                <td><%= link_to 'Modifier', edit_machine_path(machine) %></td>
                <td><%= link_to 'Détruire', machine, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
